<h1>Log in</h1>
<br>
<%= form_with scope: :session, url:login_path, local: true do |form| %>
  <p>
    <%= form.label :username %><br>
    <%= form.text_field :username, :class => 'form-control' %>
  </p>

  <p>
    <%= form.label :password%><br>
    <%= form.password_field :password, :class => 'form-control' %>
  </p>

  <br>

  <p>
    <%= form.submit 'Log in', :class => 'btn btn-danger btn-block shadow submit'%>
  </p>
<% end %>

<p>New user? <%= link_to 'Sign up now!', signup_path %></p>
