<% @surveys.each do |survey| %>
  <div class="card w-auto shadow-sm" style="width: 18rem;">
    <a href="<%=survey_path(survey)%>">
      <div class="card-body">
        <h5 class="card-title"><%= survey.title %></h5>
        <p class="card-text"><%= survey.body %></p>
      </div>
      </a>
      <div class="card-footer">
        <small class="text-muted">
          Created: <%=survey.created_at%> |
          Last Updated: <%=survey.updated_at%>
        </small>
      </div>
    <!-- </a> -->
  </div>
<br>
<% end %>

<br>

<div>
  <%= link_to 'New', new_survey_path(@survey), :class => 'btn btn-danger btn-block shadow submit' %>
</div>
