<% @surveys.each do |survey| %>
  <div class="pop">
    <div class="card w-auto shadow-sm" style="width: 18rem;">
      <a href="<%=survey_path(survey)%>" class="black-links">
        <div class="card-body">
          <span class="text-muted float-right">
              <%=pluralize(survey.questions.length, "Question")%> | <%=pluralize(survey.responses.length, "Response")%>
          </span>
          <h5 class="card-title"><%= survey.title %></h5>
          <p class="card-text"><%= survey.body %></p>
        </div>
        <div class="card-footer">
          <small class="text-muted">
            Created: <%=survey.created_at%> | Last Updated: <%=survey.updated_at%>
          </small>
          <span class="float-right">
              <%= link_to "Delete", survey_path(survey), method: :delete, class:'btn btn-sm delete-btn float-right', data: {confirm: "Are you sure?"} %>
              <%= link_to "Edit", edit_survey_path(survey), class:'btn btn-sm edit-btn float-right'%>
          </span>
        </div>
      </a>
    </div>
  </div>
<br>
<% end %>

<br>

<div>
  <%= link_to 'New', new_survey_path(@survey), :class => 'btn btn-danger btn-block shadow submit' %>
</div>
