<h1>New Survey</h1>

<br>

<%= form_with scope: :survey_post, url:surveys_path, local: true do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>

  <p>
    <%= form.submit :class => 'btn btn-danger btn-lg'%>
  </p>
<% end %>
