<span class="float-right">
  <%= link_to "Edit", edit_survey_path(@survey), class:'btn edit-btn'%>&nbsp
  <%= link_to "Delete", survey_path(@survey), method: :delete, class:'btn delete-btn', data: {confirm: "Are you sure?"} %>
</span>
<h2><%=@survey.title%></h2>
<br>
<p><%=@survey.body%></p>
<br>
<hr /><h4>Questions:</h4><br>
<% @survey.questions.each do |question| %>
  <p>
    <b>Question: </b><%= question.question %>
    <br>
  </p>
<%end%>
<hr />
<small class="text-muted">
  Created: <%=@survey.created_at%> | Last Updated: <%=@survey.updated_at%>
</small>
