<!DOCTYPE html>
<html>
  <head>
    <title>Survey</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar fixed-top header">
        <div class='container'>
        <%= link_to 'POLL DANCE 💃', root_path, :class => 'btn btn-link title' %>
            <span class='white-text'>
              <p>Logged in as:
                <b><%=link_to current_user.username, current_user, class:'white-text'%></b>
                 | <b><%= link_to "Log out", logout_path, method: :delete, class:'blue-text'%></b>
              </p>
            </span>
        </div>
    </nav>

    <div class="container vertical-fix">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
        <br>
      <% end %>
    <%= yield %>
    </div>
  </body>
</html>
